.response-container { 
  margin: 20px 0;
  position:relative;
  display: inline;
}

select.response {
  padding:0.7% 1%;
  font-size:1em;
  background: white;
  border-radius: 5px;
  border: solid 1px gray;
}

input[type=text].response {
 padding: 0.7% 0 0.7% 1%;
 /* height:30px; */
 font-size: 1em;
 margin: 1px;
 border: solid 1px #DDD;
}

.checkbox-label {
 padding: 4px 14px;
}
.checkbox-label.inline {
 display:inline-block;
 margin:0 4px 4px 0;
}

textarea.response {
 padding: 0.7% 1%;
 font-size: 1em;
 margin: 1px;
 border: solid 1px #DDD;
}

/************ RESPONSE REDESIGN ************/

.radio-label { 
  border:solid 2px #BBB;
  padding:10px;
  border-radius:4px;
  margin:3px;
  }
.radio-label:hover { 
  border:solid 2px #666;
  }  
.radio.response { 
  display:none;
 }
.radio.response:checked + label {
  background: #CCC;
}
.radio-label.correct { 
  border: solid 2px #00a57a !important;
  background:#9de3d3 !important;
  color:black;
}

label.correct {
   background:#9de3d3 !important;
   border: solid 2px #00a57a !important;
   /*padding: 4px 14px;*/
}


/*********** MARK AS CORRECT ***************/
/*********** THESE MIGHT BE OLD ***************/

input.correct {
  /*
   background-image:url("/images/correct.png") !important;
   background-repeat:no-repeat !important;
   background-position:right !important;
   background-size:contain !important;
  */
  border: solid 2px #00a57a !important;
  background: #9de3d3 !important;
  color:black !important;
}



select.correct {
  border: solid 2px #00a57a !important;
  background:#9de3d3 !important;
  color:black !important;
  /*
   background-color:green;
   color:white;
   border:0px;
   border-radius:4px;
   padding:3px;
 */
}





/******************************************/












.textcontainer {
  position: relative;
  display: inline !important;
}
.textcontainer input {
  padding:0.7% 1%;
  font-size:1em;
}





.showanswer {
  font-size: 1.3em;
  color: grey;
  position: absolute;
  right: 10px;
  top: 0px;
  margin-top: 8px;
}

#popup-message {
  position: absolute;
  background: white none repeat scroll 0% 0%;
  border:solid 1px grey;
  border-radius:10px;
  padding: 3px 10px;
  box-shadow: 0px 0px 12px #444;
}


.gloss {
  position: absolute;
  display:none;
  background: black;
  color: white !important;
  text-align:center;
  padding: 8px 12px;
  font-weight: bold;
  border-radius:4px;
  max-width:320px;
  z-index:999;

}
.gloss strong {
  color:white;
}


.gloss-icon {  margin-left:-40px; vertical-align: middle;}





label {
  cursor:pointer;
  font-weight:normal !important;
}

.radioinline { display:inline-block;margin-right:12px; }

.incorrect {
  color:red;

  //content: " <span class='dashicons dashicons-no-alt'></span>";
}



.ccontainer {
  margin-bottom: 30px;
  display:inline;
}

input[type="radio"], input[type="checkbox"] {
    margin-bottom:0px;
}
